.home-container {
  display: flex;
  flex-direction: row;
  background-color: #f2f4eb;
}

.left-home {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-home {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 350px;
  height: auto;
  display: block;
  margin: 40px 0;
}

.title-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 800;
  color: #2c2c2c;
  line-height: 1.1;
  padding-left: 40px;
  width: 80%;
}

.destaque {
  background: linear-gradient(90deg, #66caa4, #3f72c2, #d6517c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.description-container {
  padding: 40px;
  font-size: 20px;
  color: rgb(154, 146, 146);
  width: 75%;
}

.body-buttons {
  margin-left: 60px;
  display: flex;
  gap: 15px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  margin-bottom: 40px;
}

.btn-gradiente {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border-radius: 10px;

  background: linear-gradient(90deg, #43c486, #355ea8);
  transition: 0.3s;
}

.btn-gradiente:hover {
  filter: brightness(1.1);
}

.btn-branco {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  border-radius: 10px;
  background: white;
  border: 1px solid #dddddd;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.09);
  transition: 0.3s;
}

.btn-branco:hover {
  background: #f5f5f5;
}

.icon {
  font-size: 18px;
  margin-bottom: -2px;
}

.body-image {
  max-width: 85%;
  max-height: 85%;
  border-radius: 20px;
}

@media (max-width: 1024px) {
  .home-container {
    flex-direction: column;
  }

  .left-home,
  .right-home {
    width: 100%;
    text-align: center;
  }

  .left-home {
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 250px;
    margin: 30px auto;
  }

  .title-container {
    font-size: 42px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .description-container {
    font-size: 18px;
    padding: 20px;
  }

  .body-buttons {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    order: 1;
  }

  .right-home {
    order: 0;
    padding: 20px 0 40px 0;
  }
}
